# Vercel Postgres (在 Vercel 控制台一键创建)
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Waline 配置
SECURE_DOMAINS=pibizh.com
SITE_URL=https://pibizh.com
